# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,15.49,81,0,3.09,clear sky
1,1,San Cristobal,VE,7.7669,-72.2250,26.10,48,89,3.29,overcast clouds
2,2,Asfi,MA,32.2994,-9.2372,21.86,76,0,1.50,clear sky
3,3,Codrington,AU,-38.2667,141.9667,7.66,89,100,1.92,overcast clouds
4,4,Puerto Colombia,CO,10.9878,-74.9547,31.05,72,39,5.94,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Moron De La Frontera,ES,37.1208,-5.4540,25.22,34,20,1.54,few clouds
659,659,Valdivia,CL,-39.8142,-73.2459,19.05,62,100,1.88,overcast clouds
660,660,Grasse,FR,43.6667,6.9167,15.44,87,100,1.03,overcast clouds
661,661,Bernal,PE,-5.4500,-80.7500,23.94,55,40,6.18,scattered clouds
662,662,Bereda,ES,43.2686,-7.5406,16.19,100,100,1.65,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 22
What is the maximum temperature you would like for your trip? 32

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Cristobal,VE,7.7669,-72.2250,26.10,48,89,3.29,overcast clouds
4,4,Puerto Colombia,CO,10.9878,-74.9547,31.05,72,39,5.94,scattered clouds
7,7,Abu Dhabi,AE,24.4667,54.3667,31.01,73,0,2.06,clear sky
14,14,Padang,ID,-0.9492,100.3543,24.47,93,100,1.26,overcast clouds
17,17,Sao Filipe,CV,14.8961,-24.4956,25.66,71,97,5.25,overcast clouds
19,19,Touros,BR,-5.1989,-35.4608,25.10,74,8,6.84,clear sky
20,20,Hithadhoo,MV,-0.6000,73.0833,27.50,68,99,6.08,overcast clouds
21,21,Pitimbu,BR,-7.4706,-34.8086,25.33,75,25,5.71,scattered clouds
23,23,Praia,CV,14.9215,-23.5087,26.30,69,75,6.17,broken clouds
25,25,Sinazongwe,ZM,-17.2614,27.4618,25.20,35,0,1.52,clear sky

In [5]:
preferred_cities_df.count()

City_ID                268
City                   268
Country                263
Lat                    268
Lng                    268
Max Temp               268
Humidity               268
Cloudiness             268
Wind Speed             268
Current Description    268
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Cristobal,VE,7.7669,-72.2250,26.10,48,89,3.29,overcast clouds
4,4,Puerto Colombia,CO,10.9878,-74.9547,31.05,72,39,5.94,scattered clouds
7,7,Abu Dhabi,AE,24.4667,54.3667,31.01,73,0,2.06,clear sky
14,14,Padang,ID,-0.9492,100.3543,24.47,93,100,1.26,overcast clouds
17,17,Sao Filipe,CV,14.8961,-24.4956,25.66,71,97,5.25,overcast clouds

In [7]:
clean_travel_cities.count()

City_ID                263
City                   263
Country                263
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current Description    263
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City','Country','Max Temp','Current Description','Lat','Lng']].copy()

# Display sample data
hotel_df.head()

               City Country  Max Temp Current Description      Lat       Lng
1     San Cristobal      VE     26.10     overcast clouds   7.7669  -72.2250
4   Puerto Colombia      CO     31.05    scattered clouds  10.9878  -74.9547
7         Abu Dhabi      AE     31.01           clear sky  24.4667   54.3667
14           Padang      ID     24.47     overcast clouds  -0.9492  100.3543
17       Sao Filipe      CV     25.66     overcast clouds  14.8961  -24.4956

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name']=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Cristobal,VE,26.10,overcast clouds,7.7669,-72.2250,
4,Puerto Colombia,CO,31.05,scattered clouds,10.9878,-74.9547,
7,Abu Dhabi,AE,31.01,clear sky,24.4667,54.3667,
14,Padang,ID,24.47,overcast clouds,-0.9492,100.3543,
17,Sao Filipe,CV,25.66,overcast clouds,14.8961,-24.4956,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Cristobal,VE,26.10,overcast clouds,7.7669,-72.2250,Pirineos
4,Puerto Colombia,CO,31.05,scattered clouds,10.9878,-74.9547,Hotel El Emigrante
7,Abu Dhabi,AE,31.01,clear sky,24.4667,54.3667,Beach Rotana
14,Padang,ID,24.47,overcast clouds,-0.9492,100.3543,Mercure Padang
17,Sao Filipe,CV,25.66,overcast clouds,14.8961,-24.4956,Hotel Xaguate
...,...,...,...,...,...,...,...
650,Kumluca,TR,26.09,clear sky,36.3703,30.2869,Akkol Apart
651,Siguiri,GN,24.14,light rain,11.6667,-9.5000,
653,Tadpatri,IN,25.64,overcast clouds,14.9167,78.0167,Hotel Sri Ranga Lodge
658,Moron De La Frontera,ES,25.22,few clouds,37.1208,-5.4540,La Morona Hotel
661,Bernal,PE,23.94,scattered clouds,-5.4500,-80.7500,Plaza de Armas Bellavista de La UniÃ³n

In [13]:
hotel_df.count()

City                   263
Country                263
Max Temp               263
Current Description    263
Lat                    263
Lng                    263
Hotel Name             263
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
# clean_hotel_df = # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [15]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file,index_label='City_ID')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 26.1 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel El Emigrante</dd>\n<dt>City</dt><dd>Puerto Colombia</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 31.05 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beach Rotana</dd>\n<dt>City</dt><dd>Abu Dhabi</dd>\n<dt>Country</dt><dd>AE</dd>\n<dt>Current Weather</dt><dd>clear sky and 31.01 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 24.47 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 25.66 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 25.1 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 27.5 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Reserva do AbiaÃ­</dd>\n<dt>City</dt><dd>Pitimbu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 25.33 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>LT Aparthotel</dd>\n<dt>City</dt><dd>Praia</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 26.3 Â°C</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lakeview Lodge</dd>\n<dt>City</dt><dd>Sinazongwe</dd>\n<dt>Country</dt><dd>ZM</dd>\n<dt>Current Weather</dt><dd>clear sky and 25.2 Â°C</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1    7.7669  -72.2250
4   10.9878  -74.9547
7   24.4667   54.3667
14  -0.9492  100.3543
17  14.8961  -24.4956
19  -5.1989  -35.4608
20  -0.6000   73.0833
21  -7.4706  -34.8086
23  14.9215  -23.5087
25 -17.2614   27.4618

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))